*{
 box-sizing: border-box; }
body {
 margin: 0;
 font-family: 'Times New Roman', Times, serif;
 background:  #00537a;
 color: #1d1d1f; }
.topo {
 background: #00537a;
 color: white;
 padding: 40px 24px;
 text-align: center; }
.topo button {
 background: #e6007e;
 color: white;
 border: none;
 padding: 12px 18px;
 border-radius: 8px;
 cursor: pointer; }

.secao {
 width: min(1000px, 92%);
 margin: 32px auto;
 background: white;
 padding: 24px;
 border-radius: 12px;
 padding-bottom: 50px; 
    
}
.cards {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 16px; }
.card {
 border: 1px solid #ddd;
 padding: 18px;
 border-radius: 10px;
 background: #ffffff; }

form {
 display: grid;
 gap: 10px; }
input, textarea {
 width: 100%;
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 8px; }
form button {
 width: fit-content;
 padding: 10px 16px;
 background: #e6007e;
 color: white;
 border: none;
 border-radius: 8px; }
footer{
    background: #00537a;
 color: white;
 padding: 40px 24px;
 text-align: center;
}

.header-main{
    border: 0;
  height: 2px; 
  background-color: #e6007e;    
  margin-top: -15px;
    
}

.main-footer{
  border: 0;

  height: 2px; 
  background-color: #e6007e;    
  
    
}
@media (max-width: 700px) {
 .cards { grid-template-columns: 1fr; } }
